@inherits LayoutComponentBase
@implements IDisposable
@inject ILocalSettingService LocalSettingService

<FluentDesignTheme StorageName="theme" CustomColor="@AccentColor" />
<FluentLayout>
    <FluentHeader>
        Settings
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <FluentStack Class="content" Orientation="Orientation.Vertical">
                @Body
            </FluentStack>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private string AccentColor { get; set; } = "#0F6CBD";
    private IDisposable? AccentColorSubscription { get; set; }

    protected override void OnInitialized()
    {
        AccentColor = LocalSettingService.CurrentAccentColor;
        AccentColorSubscription = LocalSettingService.AccentColorChanges.Subscribe(accentColor =>
        {
            AccentColor = accentColor;
            _ = InvokeAsync(StateHasChanged);
        });
    }

    public void Dispose()
    {
        AccentColorSubscription?.Dispose();
    }
}
